$CELL_HEIGHT: 25px;
$CELL_WIDTH: 40px;

.diagramm {
  flex: 1;
  // display: flex;
  display: grid;
  grid-template-columns: 300px 1fr;
  overflow-y: overlay;

  .legend {
    min-width: 200px;
    width: 300px;
    box-shadow: 2px 0px 2px 0 rgba(0, 0, 0, 0.14),
      3px 0px 1px -2px rgba(0, 0, 0, 0.12), 1px 0px 5px 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 2;
    transition: all 0.4s;

    &.hidden {
      transform-origin: left;
      transform: translate(-250px);
      max-width: 0;
      min-width: 0;
    }

    // .cluster,
    // .farm,
    // .culture,
    // .agrooperation {
    //   position: relative;
    // }

    .farm {
      margin-left: 10px;
    }
    .culture {
      margin-left: 20px;
    }
    .agrooperation {
      margin-left: 30px;
      text-align: right;
    }

    .legend-row {
      height: $CELL_HEIGHT;
      border-bottom: 1px solid lightgray;
      // text-align: right;
      padding: 0 10px;
      font-size: 12px;
      // position: relative;

      // span {
      //   position: absolute;
      //   margin-left: 10px;
      // }

      // .cluster {
      //   left: 0;
      // }
      // .farm {
      //   left: 40px;
      // }
      // .culture {
      //   left: 80px;
      // }
      // .agrooperation {
      //   left: 120px;
      // }

      // &:first-child {
      //   position: sticky;
      //   top: 0;
      //   background: white;
      // }
    }
  }

  .chart {
    flex: 1;
    // overflow: overlay;

    .cell {
      width: $CELL_WIDTH;
      height: $CELL_HEIGHT;
      border-bottom: 1px solid lightgray;
      border-right: 1px solid lightgray;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      transition: background-color 0.4s;

      &:hover {
        background-color: rgba(180, 180, 180, 0.5);
      }
    }

    .dates {
      display: inline-flex;
      position: sticky;
      top: 0;
      background: white;
      z-index: 1;

      .date {
        // flex: 1;
        &.cell {
          font-weight: bold;
          // box-shadow: 0px 4px 15px -8px grey;
          box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.14);
        }
      }
    }

    .grid {
      position: relative;
      display: grid;

      .grid-row {
        display: inline-flex;
      }

      .period {
        display: inline-flex;
        height: $CELL_HEIGHT;
        position: absolute;

        .cell {
          background: rgba(200, 200, 200, 0.5);
        }

        &.plan {
          .cell {
            background: rgba(30, 136, 229, 0.5);
            font-weight: bold;
          }

          &.complete {
            .cell {
              background: rgba(30, 136, 229, 0.3);
              font-weight: normal;
              color: #ffffff;
            }
          }

          .ctrl {
            height: 100%;
            width: 5px;
            position: absolute;

            &.left {
              left: 0;
            }
            &.right {
              right: 0;
            }
            &:hover {
              cursor: e-resize;
            }
          }
          & .resize {
            border: 2px dashed black;
            // width: 100%;
            position: absolute;
            height: 100%;
            z-index: -1;
          }
        }
      }
    }
  }
}
